<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" href="src/client/styles/resets.scss">
    <link rel="stylesheet" href="src/client/styles/base.scss">
    <link rel="stylesheet" href="src/client/styles/header.scss">
    <link rel="stylesheet" href="src/client/styles/form.scss">
    <link rel="stylesheet" href="src/client/styles/footer.scss">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
</head>

<body>

<header>
   <p1>Travel Planner</p1>
</header>

<main>
    <section>
        <form class="" onsubmit="return Client.handleSubmit(event)">
            <p2>City Name</p2>
            <input id="name" type="text" name="input" value="">
            <p2>Departure Date</p2>
            <input id="start_date" type="date" name="date" placeholder="Enter Departure Date" >
            <p2>Leave Date</p2>
            <input id="end_date" type="date" name="date" placeholder="Enter Leave Date" >
            
            <!-- <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)"> -->
        </form>
        <input id="submitButton"type="Submit" name="" value="Submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">

        <section >

            <div id="result">
              
                <!-- <div id="results"></div> -->
            </div>
</main>

<footer>
    <p>Mohammed Busaleh Udacity project 4</p>
</footer>
<script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('dist/service-worker.js');
        });
    }
</script>
</body>
</html>
