<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
</head>

<body>

<header>
   <p1>Travel Planner</p1>
</header>

<main>
    <section>
        <form >
            <p2>City Name</p2>
            <input id="name" type="text" name="input" placeholder="Input city name here" required="required">
            <p2>Departure Date</p2>
            <input id="start_date" type="date" name="date" placeholder="Enter Departure Date" required="required" >
            <p2>Leave Date</p2>
            <input id="end_date" type="date" name="date" placeholder="Enter Leave Date" required="required">
            
            <!-- <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)"> -->
        </form>
<!--        onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)"-->
        <input id="submitButton"type="Submit"  value="Submit" >
    <h1 id="error"><h1>
        <section >

            <div id="result">
              
                <!-- <div id="results"></div> -->
            </div>
</main>

<footer>
    <p>Mohammed Busaleh Udacity project 4</p>
</footer>
<script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('dist/service-worker.js');
        });
    }
</script>
</body>
</html>
